/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --transparent-white-p: hsla(0, 0%, 100%, 0.75);
    --transparent-white-h: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    min-height: 100vh;
    background-color: var(--very-dark-blue);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    min-height: 300px;
    width: 80vw;
    border-radius: 10px;
    overflow: hidden;
}

.text-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: var(--dark-desaturated-blue);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem 2rem;
    row-gap: 2rem;
}

h1.card-title {
    font-size: 2.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: 70%;
}

.accent {
    color: var(--soft-violet);
}

.card-description {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: var(--transparent-white-p);
    line-height: 1.7rem;
    width: 70%;
}

.picture-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: url('images/image-header-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.picture-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(92, 0, 123, 0.543);
}

.stats-container {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    height: 15%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.stat-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.stat-number {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

.stat-subtitle {
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--transparent-white-h);
    letter-spacing: 1px;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    bottom: 1rem;
    color: white;
    font-family: 'Inter', sans-serif;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media screen and (max-width: 1100px) {
    
    .text-container {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .main-card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .picture-container {
        -webkit-box-flex: 1;
            -ms-flex: auto;
                flex: auto;
        background-position: 0% 10%;
        height: 15rem;
    }

}

@media screen and (max-width: 735px) {
    
   .main-card {
       margin: 2rem 0rem;
   }

}

@media screen and (max-width: 560px) {

    .text-container {
        padding: 3rem 1rem;
        row-gap: 1rem;
    }

    h1.card-title, .card-description {
        text-align: center;
    }

    h1.card-title {
        font-size: 1.7rem;
        width: 90%;
    }

    .card-description {
        width: 85%;
        font-size: 0.9rem;
    }

    .stats-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 1.5rem;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: 16rem;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }

    .stat-container {
        line-height: 2rem;
    }

}
